<nav class="main-navigation" role="navigation" aria-label="Main Navigation">
  <ul class="nav-list">
    <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
    <li class="nav-item"><a href="/custom" class="nav-link">Custom</a></li>
    <li class="nav-item"><a href="/sedan" class="nav-link">Sedan</a></li>
    <li class="nav-item"><a href="/suv" class="nav-link">SUV</a></li>
    <li class="nav-item"><a href="/truck" class="nav-link">Truck</a></li>
  </ul>
</nav>